__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc
*.pyo
*.pyd
.DS_Store

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Local env files
.env
infra.zip

