name: CI

on:
    pull_request:
        branches: ["main"]

permissions:
    contents: read

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
           - uses: actions/checkout@v4

           - uses: actions/setup-python@v5
             with:
                python-version: "3.11"

           - name: Install dependencies
             run: |
               python -m pip install --upgrade pip
               python -m pip install -r app/requirements.txt

           - name: Run tests
             run: pytest -q app/tests