name: Release

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker-build-push-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Show GitHub identity (debug)
        run: |
          echo "actor = ${{ github.actor }}"
          echo "repository = ${{ github.repository }}"
          echo "owner = ${{ github.repository_owner }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Define image name
        run: echo "IMAGE=ghcr.io/${{ github.repository_owner }}/devsecops-project1" >> $GITHUB_ENV

      - name: Build and push image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          pull: true
          no-cache: true
          tags: |
            ${{ env.IMAGE }}:latest
            ${{ env.IMAGE }}:${{ github.sha }}

      - name: Trivy scan (scan built image by digest)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: image
          image-ref: ${{ env.IMAGE }}@${{ steps.build.outputs.digest }}
          format: table
          exit-code: "1"
          ignore-unfixed: false
          vuln-type: "os,library"
          severity: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
          scanners: "vuln"
