name: CI-CD-Manual (demo)

on:
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: |
            app/requirements.txt
            app/requirements-dev.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r app/requirements.txt
          python -m pip install -r app/requirements-dev.txt

      - name: Run tests
        run: pytest -q app/tests

  security:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: |
            app/requirements.txt
            app/requirements-dev.txt

      - name: Install tools
        run: |
          python -m pip install --upgrade pip
          pip install bandit pip-audit

      - name: Bandit
        run: bandit -r app -ll -ii

      - name: pip-audit
        run: pip-audit -r app/requirements.txt

  trivy-fs:
    runs-on: ubuntu-latest
    needs: security
    steps:
      - uses: actions/checkout@v4

      - name: Trivy Filesystem Scan (HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "HIGH,CRITICAL"
